$background:rgb(126, 182, 122);
$font-color:rgb(255, 255, 255);


mat-card{
    background-color: rgb(230, 230, 136);
}
div{
    background-color:rgb(230, 230, 136) ;
}

button{
    background-color: rgb(245, 185, 74) ;
}