<body>
    <div class="todo">
        <div class="texto">
            <p>Carrito de Compras</p>
        </div>
        <div class="productos">
            <mat-list *ngFor="let product of cart">
                <span><mat-card class="producto">
                        <p>{{product.producto}}</p>
                        <h6>Cant del producto: {{product.cant}}</h6>
                        <mat-card-actions>
                            <button mat-button (click)="this.addItem(product)">Add More</button>
                            <button mat-button (click)="this.addLess(product)">Remove item</button>
                        </mat-card-actions>
                    </mat-card>
                    <button mat-button (click)="this.removeItem(product)">Delete from Cart</button>
                </span>
            </mat-list>
        </div>
        <div class="boton">
            <button mat-button *ngIf="error()" (click)="this.purchaseCart()">Purchase cart</button>
        </div>
    </div>
</body>
