$background:rgb(126, 182, 122);
$font-color:rgb(255, 255, 255);

body{
    background-color:$background ;
}

form{
    width: 500px;
    height: 100px;
    margin-left: 70%;
    background-color: rgb(230, 230, 136);
    display: flex;
    align-items:center;
    float: right;
}

.searchImput{
    height: 63px;
    width: 70%;
    margin-left:15px ;
    margin-right:30px ;
    background-color: rgb(240, 203, 134);
    float: left;
}


.searchButton{
    border: solid;
    border-color: rgb(245, 185, 74);
    height: 40px;
    width: 90px;
    background-color: rgb(240, 203, 134);
    display: flex;
    float: right;
}

.todo{
    width: 100%;
    height: 100%;

}

.categorias{
    height: 25%;
    width: 70%;
    margin-left: 20px;
    background-color:rgb(230, 230, 136);
}

.listaProductos{
    height: 75%;
    width: 98%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgb(230, 230, 136);
}

.productView{
    background-color:rgb(230, 230, 136);
}